.Menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;

  .Menu__selectContainer {
    width: 95%;

    select {
      background-color: $gray;
      color: white;
      width: 100%;
      padding: 5px;
      margin-bottom: 15px;
      border: 1px solid $gray;
      border-radius: 5px;
      font-size: 1.8rem;
    }
  }
}

@media only screen and (min-width: $mobile) {
  .Menu__container {
    .Menu__list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      padding: 0;
    }

    .Menu__selectContainer {
      width: 100%;
      margin-left: 1.5rem;

      select {
        width: 25%;
      }
    }
  }
}
